/* ////////////////////////////////////////
                FORM ELEMENTS
//////////////////////////////////////////*/

/* ########## BUTTONS ########## */

button:focus,
input:focus,
input[type="radio"]:focus,
select:focus {
    outline: solid 1px var(--outline);
}

button,
input[type="button"] {
    cursor: pointer;
    font-family: "Poppins-Medium";
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    padding-left: var(--spacing-10);
    padding-right: var(--spacing-10);
    padding-top: var(--spacing-7);
    padding-bottom: var(--spacing-7);
    border-radius: var(--radius-medium);
}

button.primary,
input[type="button"].primary {
    width: 100%;
}

button.primary:not(:hover, :disabled, :active),
input[type="button"].primary:not(:hover, :disabled, :active) {
    color: var(--neutral-0);
    background-color: var(--neutral-1000);
}

button.primary:hover,
input[type="button"].primary:hover {
    color: var(--neutral-0);
    background-color: var(--black-80);
}

button.primary:active,
input[type="button"].primary:active {
    color: var(--neutral-0);
    background-color: var(--black-60);
}

button.primary:disabled,
input[type="button"].primary:disabled {
    color: var(--black-30);
    background-color: var(--black-10);
}

button.secondary:not(:hover, :disabled, :active),
input[type="button"].secondary:not(:hover, :disabled, :active) {
    color: var(--neutral-1000);
    background-color: var(--black-6);
}

button.secondary:hover,
input[type="button"].secondary:hover {
    color: var(--neutral-0);
    background-color: var(--black-10);
}

button.secondary:active,
input[type="button"].secondary:active {
    color: var(--neutral-0);
    background-color: var(--black-20);
}

button.secondary:disabled,
input[type="button"].secondary:disabled {
    color: var(--black-10);
    background-color: var(--black-4);
}

/* ########## INPUTS ########## */

input,
select,
.radio-button,
.checkbox-button {
    padding: var(--spacing-6);
    border-radius: var(--radius-medium);
    background-color: var(--surface-primary);
}

input:not(:hover, :disabled, :active),
select:not(:hover, :disabled, :active),
.radio-button:not(:hover, :disabled, :active),
.checkbox-button:not(:hover, :disabled, :active) {
    border: solid 1px var(--border-secondary);
    color: var(--text-disabled);
}

input:hover,
select:hover,
.radio-button:hover,
.checkbox-button:hover {
    border: solid 1px var(--border-primary);
    color: var(--text-minimal);
}

input:active,
select:active,
.radio-button:active,
.checkbox-button:active {
    border: solid 1px var(--border-primary);
    color: var(--text-primary);
}

input:disabled,
select:disabled,
.radio-button:disabled,
.checkbox-button:disabled {
    border: solid 1px var(--border-minimal);
    color: var(--text-disabled);
    background-color: var(--black-6);
}

input:not(:placeholder-shown, :disabled),
select:not(:placeholder-shown, :disabled),
.radio-button:not(:placeholder-shown, :disabled),
.checkbox-button:not(:placeholder-shown, :disabled) {
    border: solid 1px var(--border-primary);
    color: var(--text-primary);
}

fieldset:has(input:disabled, select:disabled) label {
    color: var(--text-disabled);
}

input[type="radio"],
input[type="radio"]:checked {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 2px solid var(--neutral-1000);
    border-radius: var(--radius-full);
    appearance: none;
    background-color: transparent;
}

input[type="radio"]:not(:disabled):checked {
    border-color: var(--neutral-1000);
    background-color: var(--neutral-1000);
    background-clip: content-box;
    padding: 3px;
    background-image: radial-gradient(
      circle,
      var(--neutral-1000) 0%,
      var(--neutral-1000) 50%,
      transparent 60%,
      transparent 100%
    );
}

.radio-button:has(input[type="radio"]:not(:checked)) {
    border: solid 1px var(--border-secondary);
    color: var(--text-secondary);
    background-color: unset;
}

.radio-button {
    justify-content: space-between;
}

.radio-button,
.checkbox-button {
    flex: 1;
    display: flex;
    align-items: center;
}

.checkbox-button {
    gap: var(--spacing-5);
}

.radio-button label {
    flex: 1;
}

input[type="checkbox"],
input[type="checkbox"]:checked {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 2px solid var(--neutral-1000);
    border-radius: var(--radius-small);
}

input[type="checkbox"]:checked {
    background: var(--neutral-1000);
    appearance: none;
}

input[type="checkbox"]:checked::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    background-image: url("../images/icon-checkbox.svg");
}

select {
    appearance: none;
    background-image: url("../images/icon-chevron.svg");
    background-repeat: no-repeat;
    background-position: right var(--spacing-5) center;
}